@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* **************Navbar Section CSS********************** */

.Navbar {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 20px;
    width: 100%;
    z-index: 1000;
    position: fixed;
}

.title-text a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    align-self: center;
}

#menu-toggle {
    display: none;
}
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 4px 0;
    border-radius: 2px;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}
.nav-list li{
    display: block;
    height: 100%;
    font-size: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0 0 15px #8e54e9;
    transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
    text-align: center;
    padding: 0 10px;
}
.nav-list li:hover{
    border-bottom: 1px solid white;
}
.nav-list li:after,
.nav-list li:before {
  content: "";
  display: block;
  border: 0px solid transparent;
  width: 0%;
  height: 0%;
  transition: all 0.5s ease;
}

.nav-list li:after {
  width: 0%;
  height: 0%;
  top: 0;
  left: 0;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
}

.nav-list li:before {
  width: 0%;
  height: 0%;
  right: 0;
  bottom: 0;
  border-bottom: 2px solid transparent;
  border-right: 2px solid transparent;
}

.nav-list li:hover::before,
.nav-list li:hover::after {
  width: 1%;
  height: 1%;
  border-color: #fff;
}
.Nav-elements {
    position: relative;
}

.Nav-elements a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
}

/* ****************For responsiveness******************* */

@media (max-width: 930px) {
    .hamburger {
        display: flex;
    }
    
    .nav-list {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #3c3c5c;
        padding: 10px 0;
        z-index: 1000;
        transition: 2s;
    }

    .Nav-elements {
        margin: 0;
        text-align: center;
    }

    .Nav-elements a {
        padding: 10px;
        text-align: left;
        width: 100%;
    }

    #menu-toggle:checked + .hamburger + .nav-list {
        display: flex;
    }
}



/* ************************************** */

/* *******************Dark_light Mode Section*********************** */
/* 
.toggle-button {
    display: inline-block;
    position: fixed;
    bottom: 4%;
    right: 2%;
    z-index: 100;
    width: 60px;
    height: 30px;
    background-color: #107eb5;
    border-radius: 30px;
    padding: 5px;
    margin: 2%;
  }
  .toggle-button input[type="checkbox"] {
    display: none;
  }
  .toggle-button .icon {
    font-size: 18px;
    transition: opacity 0.3s ease;
    margin: 4%;
  }
  .toggle-button label {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 26px;
    height: 26px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: left 0.3s ease;
  }
  .sun-icon i{
    color: yellow;
  }
  .moon-icon i{
    color: #32324C;
  }
  
  #mode-toggle:checked + label {
    left: 32px;
    background-color: black;
  } */


/* ***************************************************** */

/* **********************Header Section*********************** */

header{
    min-height: 100vh;
    background-color: #3c3c5c;
    display: flex;
    justify-content: flex-start;
    position: relative;
    overflow: hidden;
}
.header-text{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 10%;
}
.header-img{
    width: 60%;
    display: flex;
    justify-content: flex-end;
    /* transition: 0.8s ease-in-out; */
}
/* .header-img:hover{
    transform: scale(1.15);
} */

.image{
    width: 100%;
}
.header-text h1{
    font-size: 60px;
    color: white;
    font-family: "Playfair Display", serif;
    display: inline-block;
    line-height: 1.2;
}
.header-text h1 span{
    color: #DF5646;
    line-height: inherit;
    margin-bottom: 0;
    padding-bottom: 0;
}

.tag-txt{
    font-size: 35px;
    color: white;
    margin: 3% 0;
}
.content-txt{
    color: #A3A5A7;
    margin: 3% 0 15% 0;
}
.resume-btn,
a.resume-btn{
    z-index: 1;
    text-decoration: none;
    color: white;
    font-size: 14px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.5s;
    position: relative;
    text-align: center;
    padding: 15px 22px;
    border-radius: 15px;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    text-transform: capitalize;
    box-shadow: 0 16px 16px rgba(116, 113, 113, 0.16);
    background-color: #DF5646;
    font-weight: bold;
}

.resume-btn:before,
a.resume-btn:before {
    content: '';
    width: 40px;
    z-index: -1;
    left: 5px;
    opacity: 0.2;
    transition: 0.75s;
    background: white;
    position: absolute;
    border-radius: 10px;
    height: calc(100% - 10px);
}
.resume-btn i,
a.resume-btn i {
    font-size: 16px;
    transition: 0.5s;
    margin-left: 25px;
}
.resume-btn:hover:before,
a.resume-btn:hover:before {
    left: calc(100% - 49px);
}

.resume-btn:hover i,
a.resume-btn:hover i {
    margin-left: 28px;
    margin-right: -3px;
}


.download-icon{
    padding-left: 50px;
}
.social-links{
    margin-top: 10%;
}
.social-links i{
    color: #A3A5A7;
    margin: 10px;
}
.social-links i:hover{
    background-color: white;
    color: #DF5646;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid white;
    padding: 5px;
    transition: 0.1s ease-in-out;
}

.header-text h1 span {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    animation: reveal 0.05s linear forwards;
    opacity: 0;
    vertical-align: bottom;
}
@keyframes reveal {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.header-text h1 span:nth-child(1) {
    animation-delay: 0.2s;
}
.header-text h1 span:nth-child(2) {
    animation-delay: 0.4s;
}
.header-text h1 span:nth-child(3) {
    animation-delay: 0.6s;
}
.header-text h1 span:nth-child(4) {
    animation-delay: 0.8s;
}
.header-text h1 span:nth-child(5) {
    animation-delay: 1.0s;
}

/* *****************For Responsiveness************** */

@media (max-width: 1050px) {
    .header-text{
        width: 100%;
    }
    .header-img{
        display: none;
    }
    .header{
        height: 100%;
    }
}

/* ************************************************** */

/* ****************About Me section**************** */

#aboutme{
    background-color: #32324C;
    
    min-height: 100vh;
}
.heading-about{
    font-size: 14px;
    font-weight: 500;
    padding: 0.5% 5%;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 2%;
    background: #FBF1E7;
    position: relative;
    display: inline-block;
    font-family: "Poppins", sans-serif;
    color: #DF5646;
}
.heading-about::before {
    content: '';
    height: 1px;
    width: 40px;
    left: -50px;
    top: 50%;
    position: absolute;
    background-color: white;
}
.about-me-div{
    display: flex;
    align-items: center;
}
.image-div{
    display: flex;
    justify-content: center;
    width: 40%;
}
.my-image{
    width: 70%;
    height: 500px;
    margin: 10% 0 5% 2%;
    border-radius: 10px;
}
.content-div{
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    margin: 2.7% 2%;
}
.content-div p{
    color: #A3A5A7;
    margin-bottom: 2%;
}
.content-div p span{
    color: #DF5646;
    font-weight: bold;
}
.content-div h1{
    color: #DF5646;
    font-size: 40px;
    text-decoration: underline;
    margin-bottom: 4%;
}
.content-div a{
    text-decoration: none;
    color: #A3A5A7;
    border: 1px solid #DF5646;
    padding: 1.5%;
}
.content-div a i{
    color: #DF5646;
    margin-left:10px;
}
.content-div a:hover{
    border: 1px solid rgb(55, 225, 55);
    color: #DF5646;
    transition: 0.5s;
}
.content-div a i:hover{
    color: rgb(55, 225, 55);
}

/* Hide the checkbox by default */
.read-more-state {
    display: none;
}

/* Hide the content initially */
.read-more-content {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

/* When the checkbox is checked, show the content */
.read-more-state:checked ~ .read-more-content {
    display: block;
    opacity: 1;
}

/* Hide the "Read More" button when checkbox is checked */
.read-more-state:checked ~ .read-more-trigger {
    display: none;
}

/* Style the "Read More" button */
.read-more-trigger {
    display: inline-block;
    margin-top: 10px;
    cursor: pointer;
    color: #A3A5A7;
    border: 1px solid #DF5646;
    padding: 1.5%;
    text-decoration: none;
}

.read-more-trigger:hover {
    border: 1px solid rgb(55, 225, 55);
    color: #DF5646;
    transition: 0.5s;
}


/* ***************For Responsiveness**************** */

@media (max-width: 650px) {
    #aboutme{
        padding: 3%;
    }
    .about-me-div{
        display: flex;
        flex-direction: column;
    }
    .image-div{
        width: 80%;
    }
    .content-div{
        width: 80%;
    }
    .my-image{
        width: 80%;
        height: 400px;
    }
}

/* ************************************ */

/* ***************Education & Experience Section***************** */

#experience{
    min-height: 100vh;
    background-color: #3c3c5c;
    display: flex;
    justify-content: center;
}
.education-div{
    width: 50%;
    margin: 6% 0 2% 7%;
    display: flex;
    flex-direction: column;
}
.experience-div{
    width: 50%;
    margin: 6% 0 2% 7%;
    display: flex;
    flex-direction: column;
}
.individual-div{
    display: flex;
}
.individual-div span{
    padding: 0 10px 0 0;
    color: white;
    font-size: 16px;
    font-weight: 300;
}
.individual-content{
    position: relative;
    padding: 0 0 10% 5%;
    color: white;
    display: flex;
    flex-direction: column;

}
.individual-content::before {
    content: '';
    height: 100%;
    width: 1px;
    left: 0;
    top: -10px;
    position: absolute;
    background: #E8E8E8;
}
.individual-content::after {
    position: absolute;
    content: '';
    height: 5px;
    width: 5px;
    left: -2px;
    top: 10px;
    transform: rotate(45deg);
    background-color: #DF5646;
}
.degree-role{
    font-weight: 400;
    margin-bottom: 5px;
    display: inline-block;
    color: #DF5646;
    font-size: larger;
    font-weight: bolder;
}
.branch{
    font-size: 20px !important;
    font-weight: 500;
    margin-bottom: 2%;
}
.place{
    color: #78ADD9 !important;
    font-weight: 400;
    margin-bottom: 20px;
    font-size: 16px;
}
.heading-text{
    font-size: 14px;
    font-weight: 500;
    padding: 1.2% 10%;
    margin-left: 10%;
    margin-bottom: 5%;
    background: #FBF1E7;
    position: relative;
    display: inline-block;
    font-family: "Poppins", sans-serif;
    color: #DF5646;
}
.heading-text::before {
    content: '';
    height: 1px;
    width: 38px;
    left: -50px;
    top: 50%;
    position: absolute;
    background-color: white;
}
.project-name{
    color: #b7bcc2 !important;
    font-weight: bolder !important;
}
.certificate-link{
    margin-top: 3% !important;
    padding: 3% !important;
    border-radius: 10px !important;
    border: none;
    background-color: #DF5646;
    color: white !important;
    display: inline-block !important;
    text-decoration: none;
    transition: 0.5s ease-in !important;
}
.certificate-link i{
    color: white !important;
}
.certificate-link .eye-icon {
    display: none;
}

.certificate-link:hover .cert-icon {
    display: none;
}

.certificate-link:hover .eye-icon {
    display: inline;
}

/* **************For Responsiveness*************** */

@media (max-width: 650px) {
    #experience{
        display: flex;
        flex-direction: column;
    }
    .education-div{
        width: 100%;
        margin: 2%;
    }
    .experience-div{
        width: 100%;
    }
}

/* ************************************************* */

/* ***************Skills Section******************* */

#skills{
    min-height: 100vh;
    background-color: #32324C;
}
.heading-skills{
    font-size: 14px;
    font-weight: 500;
    padding: 0.5% 5%;
    margin-left: 10%;
    margin-top: 6%;
    margin-bottom: 3%;
    background: #FBF1E7;
    position: relative;
    display: inline-block;
    font-family: "Poppins", sans-serif;
    color: #DF5646;
}
.heading-skills::before {
    content: '';
    height: 1px;
    width: 40px;
    left: -50px;
    top: 50%;
    position: absolute;
    background-color: white;
}
.three-skills{
    display: flex;
    justify-content: space-around;
    padding: 3% 5%;
}
.skill{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    border: 1px solid #3c3c5c;
    padding: 2%;
    background-color: #3c3c5c;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: white;
}
.diff-skills{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.skill-heading{
    font-size: 25px;
    line-height: 1.35;
    font-family:'Times New Roman', Times, serif;
    font-weight: 700;
    text-decoration: underline;
    margin: 3% 0;
    color: #DF5646;
}

.concept{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 30%;
    border: 1px solid #32324C;
    background-color: #32324C;
    padding: 10px;
    margin: 4% 15px;
    color: #A3A5A7;
}
.concept i{
    font-size: 30px;
    padding-bottom: 15px;
    color: white;
}
.concept:hover{
    color: #DF5646;
    transition: 0.2s ease-in-out;
}
.concept i:hover{
    color: #DF5646;
    transition: 0.2s ease-in-out;
}
.progress-bar {
    width: 100%;
    background-color: #A3A5A7;
    border-radius: 2px;
    overflow: hidden;
    height: 17px;
    margin-top: 8px;
}

.progress {
    text-align: center;
    color: black;
    height: 100%;
    background-color: rgb(0, 238, 255);
    border-radius: 2px 0 0 2px;
}

/* **********For Responsiveness*************** */

@media (max-width:800px) {
    .three-skills{
        display: flex;
        flex-direction: column;
    }
    .skill{
        width: 100%;
        margin: 2%;
    }
}

/* **************************************************************** */

/* ******************Projects Section********************** */

#projects{
    min-height: 100vh;
    background-color: #3c3c5c;
    padding-bottom: 2%;
}
.heading-projects{
    font-size: 14px;
    font-weight: 500;
    padding: 0.5% 5%;
    margin-left: 10%;
    margin-top: 6%;
    margin-bottom: 1%;
    background: #FBF1E7;
    position: relative;
    display: inline-block;
    font-family: "Poppins", sans-serif;
    color: #DF5646;
}
.heading-projects::before {
    content: '';
    height: 1px;
    width: 40px;
    left: -50px;
    top: 50%;
    position: absolute;
    background-color: white;
}
.project-div{
    display: flex;
    align-items: center;
    padding: 4% 5%;
    border-bottom: 1px solid #32324C;
    background-color: #32324C;
    margin: 2% 4%;
    transition: 0.5s ease-in-out;
}

.project-div:hover{
    box-shadow: 0 0 6px rgba(35, 173, 278, 1);
    transform: scale(1.02);
}
.proj-image-div{
    width: 45%;
}
.proj-image-div img{
    width: 100%;
}
.proj-content-div{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding: 0 2%;
}
.proj-content-div h3{
    color: #DF5646;
    margin-bottom: 2%;
    font-size: 25px;
    text-decoration: underline;
}
.proj-content-div h4{
    color: #c6cace;
    font-size: 20px;
}
.proj-content-div p{
    font-size: 20px;
    color: #A3A5A7;
    margin: 2% 0 1% 0;
    border: 1px solid #32324C;
    padding: 2%;
    background-color: #3b3b59;
}
.proj-content-div span{
    margin-bottom: 5%;
    color: #c6cacd;
}
.source-btn{
    border: 2px solid #DF5646;
    padding: 2%;
    background-color: #DF5646;
    color: white;
    text-decoration: none;
    margin-right: 3%;
    transition: 0.3s ease-in;
}
.source-btn i{
    color: #A3A5A7;
    padding-left: 15px;
    transition: 0.5s ease-in;
}
.source-btn .git-icon {
    display: none;
}

.source-btn:hover{
    border: 2px solid #32324C;
    background-color: #3c3c5c;
}
.source-btn:hover .code-icon {
    display: none;
}

.source-btn:hover .git-icon {
    display: inline;
}
.preview-btn{
    border: 2px solid #00CED1;
    padding: 2%;
    background-color: #00CED1;
    text-decoration: none;
    color: #32324C;
    transition: 0.3s ease-in;
}
.preview-btn i{
    color: #3c3c5c;
    padding-left: 15px;
}
.preview-btn:hover{
    border: 2px solid #32324C;
    background-color: #3c3c5c;
    color: #A3A5A7;
}

.preview-btn .share-icon {
    display: none;
}

.preview-btn:hover .eye-icon {
    display: none;
}

.preview-btn:hover .share-icon {
    display: inline;
    color: #A3A5A7;
}

/* *************For Responsiveness***************** */

@media (max-width: 700px) {
    .project-div{
        display: flex;
        flex-direction: column;
        padding: 10% 4%;
    }
    .proj-image-div{
        width: 100%;
        order: 1;
    }
    .proj-content-div{
        width: 100%;
        order: 2;
    }
}

/* ************************************** */

/* *********Certificates Section************ */

#Certificates{
    background-color: #32324C;
    padding: 2% 5%;
}
.heading-certificates{
    font-size: 14px;
    font-weight: 500;
    padding: 0.5% 5%;
    margin-left: 6%;
    margin-top: 4%;
    margin-bottom: 1%;
    background: #FBF1E7;
    position: relative;
    display: inline-block;
    font-family: "Poppins", sans-serif;
    color: #DF5646;
}
.heading-certificates::before {
    content: '';
    height: 1px;
    width: 40px;
    left: -50px;
    top: 50%;
    position: absolute;
    background-color: white;
}
.certificates{
    margin: 3% 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.certificate{
    display: flex;
    flex-direction: column;
    width: 22.5%;
    background-color: #3c3c5c;
    overflow: hidden;
    transition: 0.5s;
    box-shadow: 0 4px 8px 0 #232332, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.cert-img img{
    width: 100%;
    height: 200px;
    overflow: hidden;
    transition: 0.5s ease-in;
}
.cert-img img:hover{
    transform: scale(1.1);
    overflow: hidden;
}
.cert-content{
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cert-content h3{
    color: white;
    margin-bottom: 8px;
}
.cert-content h4{
    color: #A3A5A7;
    margin-bottom: 10px;
}
.cert-content a{
    text-decoration: none;
    display: inline-block;
    background-color: #DF5646;
    padding: 10px 10px;
    color: white;
    transition: 0.5s;
}
.cert-content a i{
    visibility: hidden;
    margin-left: 5px;
    transition: 0.5s;
    color: #00CED1;
}
.cert-content a:hover .right-icon{
    visibility: visible;
}
.cert-content a:hover{
    background-color: #3c3c5c;
    border: 1px solid #32324C;
}

/* *****************For Responsiveness***************** */

@media (min-width: 501px) and (max-width: 930px) {
    .certificate{
        width: 45%;
        margin: 2%;
    }
}
@media (max-width: 500px) {
    .certificate{
        width: 90%;
        margin: 2%;
    }
}

/* ******************************** */

/* ****************Contact Me Section******************* */

#contact{
    background-color: #3c3c5c;
}
.heading-contact{
    font-size: 14px;
    font-weight: 500;
    padding: 0.5% 5%;
    margin-left: 10%;
    margin-top: 6%;
    margin-bottom: 5%;
    background: #FBF1E7;
    position: relative;
    display: inline-block;
    font-family: "Poppins", sans-serif;
    color: #DF5646;
}
.heading-contact::before {
    content: '';
    height: 1px;
    width: 40px;
    left: -50px;
    top: 50%;
    position: absolute;
    background-color: white;
}
.contact-div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 5.3%;
}
.personal-info{
    display: flex;
    flex-direction: column;
    color: #A3A5A7;
}
.contact-form{
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-right: 5%;
}
.personal-div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.personal-div i{
    color: #DF5646;
    border: 2px solid #A3A5A7;
    padding: 4%;
    border-radius: 50%;
    background-color: #3c3c5c;
    margin: 3%;
}
.personal-div i:hover{
    background-color: #DF5646;
    color: #3c3c5c;
    transition: 0.5s;
    border: 2px solid white;
}
.personal-div a:hover{
    text-decoration: underline;
    transition: 0.2s;
}
.personal-div a{
    text-decoration: none;
    color: #A3A5A7;
}
.contact-form input, textarea{
    background-color: #3c3c5c;
    color: #A3A5A7;
    border: 2px solid white;
    padding: 3%;
    margin: 2%;
}
.contact-form button{
    background-color: #DF5646;
    border: 2px solid #DF5646;
    color: white;
    margin: 2%;
    padding: 3%;
    border: none;
    font-weight: bold;
}
.contact-form button:hover{
    background-color: #32324C;
    border: 2px solid #DF5646;
    transition: 0.5s;
}

/* **************For Responsiveness**************** */

@media (max-width: 600px) {
    .contact-div{
        display: flex;
        flex-direction: column;
    }
    .personal-info{
        width: 80%;
        display: flex;
        justify-content: flex-start;
        justify-content: flex-start;
    }
    .personal-div i{
        margin: 3% 2% 3% 0;
    }
    .contact-form{
        width: 80%;
    }
}

/* ****************************** */

/* *****************Footer Section*************** */

footer{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    bottom: 0;
}
.copyright-info{
    margin: 1.5% 0;
    color: #A3A5A7;
}
.copyright-icons{
    border-top: 2px solid white;
    padding: 3px 10px;
}
.copyright-icons i{
    color: #A3A5A7;
    margin: 10px 5px;
}
.copyright-icons i:hover{
    color: #DF5646;
    transition: 0.2s;
}

/* ******************************** */